.purDetailMain__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
}

.purDetailMain__content__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purDetailMain__content__price > span {
  margin-right: 0.5rem;
}

/* PurDetail__info */

.purDetail__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
}

.purDetail__line {
  width: 100%;
  height: 1px;
  background-color: var(--line, #777);
}

/* purDetail */

.purDetail {
  width: 100%;
}

.purDetail__btn__container {
  width: 100%;
  /* position: relative; */
}

.purDetail__btn {
  position: fixed;
  /* width: inherit; */
  bottom: 1.5rem;
  left: 0;
}

@media only screen and (max-width: 430px) {
  .purDetail__btn {
    width: 100%;
  }
}
@media only screen and (min-width: 430px) and (max-width: 800px) {
  .purDetail__btn {
    width: 100%;
    max-width: 430px;
    left: calc(50% - 215px);
  }
}

@media (min-width: 800px) {
  .purDetail__btn {
    width: 90%;
    max-width: 600px;
    left: calc(50% - 300px);
  }
}
