.purDetailMain__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
}

.purDetailMain__content__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purDetailMain__content__price > span {
  margin-right: 0.5rem;
}

/* PurDetail__info */

.purDetail__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
}

.purDetail__line {
  width: 100%;
  height: 1px;
  background-color: var(--line, #777);
}
