.signup {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
  /* height: 100dvh; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.signup__form {
  width: 100%;
}
